/* base styles */
:root {
  --nav-blue: #1B3C53;
  --peri: #CBDCEB;
  --lace: #fdf5e6;
  --pink: #FFE3E3;
  --max-width: 1100px;
}

body {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Open Sans",  serif;
  background-color: var(--peri);
  color: var(--nav-blue);
  line-height: 1.5;
}

h2 {
  font-family: "Playfair Display";
  font-size: 1.5rem;
}

h3 {
  font-family: "Open Sans";
  font-size: 1rem; 
}

/* layout stuff */

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem 4rem;
  padding-top: 80px;
}

#header-img {
  height; 32px;
  width
}

.hero {
  background-color: #1B3C53;
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  color: var(--peri);
  font-family: "Playfair Display";
  padding: 0 1.5rem;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}



.hero-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;  
  letter-spacing: 0.25em;    
  font-size: clamp(3rem, 12vw, 8rem); 
  color: #dbeefc;             
  margin: 0;
  text-align: center;
}


/* top nav */

.site-header {
  background-color: var(--peri);
  color: var(--nav-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-bar {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  font-size: 1.1rem;
  color:  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--nav-blue);
}

.nav-links a:hover,
.nav-link:hover {
  text-decoration: underline;
}



/* media query */

@media (max-width: 768px) {
  .main {
    padding: 4.5rem 1rem 3rem;
  }

