* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 2rem;
  margin-bottom: 2rem;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  scroll-margin-top: 1rem;
  position: relative;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 1rem;
  padding: 20px;
  margin: 20px;
  align-items: flex-start;
}


.sidebar {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #007acc;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  top: 1rem;
  max-height: calc(100vh - 2rem);
  overflow: auto;
  padding: 1rem 2rem;
  column-count: 2;       
  column-gap: 2rem;
  position: relative;
}

.deco {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  height: auto;
  border-radius: 3px;
  margin: 0;
  z-index: 0;
}

.deco img {
  width: 100%;
  height: auto;
  opacity: 0.35;
}

  
