body {
  font-family:'Open Sans', Sans Serif;
  background-image: url("https://snipboard.io/u1PMnp.jpg");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800 px;
  margin: 40px;
  padding: 40px;
  border-radius: 10px;
  
}

h1 {
  font-family: 'Playfair Display', Serif;
  font-size: 28px;
  text-align: center;
  color: #283C4C
}

h2 {
  font-family: 'Playfair Display', Serif;
  font-size: 18x;
  font-weight: 400;
  text-align: center;
  color: #283C4C
}

blockquote {
  color: #283C4C;
  font-style: italic;
  text-align: center;
  text-size: 15px;
}

section {
  background-color: #dce8dc;
  padding: 25px 30px;
  text-color: #283C4C;
}

h3 {
  text-align: left;
  color: #283C4C;
  font-size: 32px;
}

p {
  font-syle: 'Open Sans';
  text-align: left;
  color: #283C4C;
}

.portrait {
  width: 100%;
  max-width: 600px;
  margin: 25px;
}

figcaption {
  text-size: 12px;
  text-align: center;
  color: #283C4C;
}
